name: Public Plugin

# https://github.com/softprops/action-gh-release/issues/236#issuecomment-1150530128
# 无需 Token 即可发布
permissions:
  contents: write

on:
  release:
    types: [published]
  push:
    tags:
      - "*" # Push events to matching *, i.e. 1.0, 20.15.10

jobs:
  build:
    runs-on: windows-latest # 添加EnableWindowsTargeting可支持跨平台编译WPF项目

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: "10.0.x"

      - name: Build
        env:
          REPO_NAME: ${{ github.event.repository.name }}
        shell: pwsh
        run: |
          Write-Host "Repo name from github.event.repository.name: $env:REPO_NAME"
          dotnet build ".\$env:REPO_NAME\$env:REPO_NAME.csproj" --configuration Release --no-incremental --force

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          tag_name: ${{ github.ref_name }}
          body_path: CHANGELOG.md
          draft: false # 设置为 false 可立即发布版本
          files: |
            ./.artifacts/plugins/*.spkg
